.recipe-search-form-container {
	padding-top: 70px;
}

.recipe-search-form-container,
.recipes-main-container {
	background-color: lightgray;
}

.recipe-search-form-container,
.recipes-header {
	text-align: center;
}

.search-form {
	border: 1px solid black;
}

.recipe-result {
	border: 1px solid black;
	margin-bottom: 10px;
	font-size: 15px;
	background-color: #B8B8B8;
	padding: 10px;
}

.recipe-list,
.recipe-ingredient-list {
	list-style: none;
}