.landing-background-section-container,
.create-recipe-info,
.browse-recipes-info,
.rate-recipes-info,
.signup-container {
	background-color: lightgray;
	text-align: center;
}

.landing-background-section-container {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.logo-container {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.logo {
	width: 100%;
	margin-bottom: 0;
}

#signup-form {
	padding-bottom: 20px;
}

.input-box {
	width: 280px;
}