.stats-section-header {
	background-color: lightgray;
	padding-top: 70px;
}

.dashboard-header,
.stats-section,
.create-stats-section,
.critique-stats-section {
	text-align: center;
}

.create-stats-section,
.critique-stats-section,
.create-section-header,
.discover-section-header {
	background-color: #B8B8B8;
	padding: 15px;
}

.rating-stars-container,
.average-recipe-rating-label,
.average-recipe-rating-number,
.rating-stars {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

.pie-chart-container {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

.pie-chart-key {
	display: inline-block;
	border: 1px	solid black;
	padding: 2px;
	margin-right: 3px;
	margin-top: 3px;
	color: black;
}

.red {
	background-color: #CC1313;
}

.orange {
	background-color: #CC7013;
}

.yellow {
	background-color: #CCCC13;
}

.green {
	background-color: #70CC13;
}

.blue {
	background-color: #13CC70;
}