.landing-navbar-container {
	background-color: gray;
	width: 100%;
	position: fixed;
	min-width: 320px;
}

.login-button-container {
	text-align: right;
}

.navbar-site-title {
	vertical-align: bottom;
}

.navbar-header-container,
.login-button-container {
	margin-top: 5px;
  	margin-bottom: 5px;
}

.signup-button {
	margin-left: 10px;
}