.abv-display,
.recipe-name-input,
.number-of-ingredients-input,
.ingredient {
	display: inline-block;
}

.ingredient-list {
	list-style: none;
}

.ingredient {
	margin-right: 5px;
	margin-bottom: 5px;
	border: 1px	solid black;
	background-color: #B8B8B8;
	padding: 5px;
}

.ingredient-hidden {
	display: none;
}

.recipe-submit-button,
.editing-cancel-button {
	height: 25px;
	width: 60px;
	margin: 5px;
}

.recipe-submit-button-container,
.editing-cancel-button-container {
	display: inline-block;
}