.abv-display,
.recipe-name-input,
.number-of-ingredients-input,
.ingredient {
	display: inline-block;
}

.ingredient-list {
	list-style: none;
}

.ingredient {
	margin-right: 5px;
	margin-bottom: 5px;
}

.ingredient-hidden {
	display: none;
}